* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.photo-profile img{
    width: 130px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.pseudo h1{
    color: #fff;
    font-size: 25px;
}

main{
    z-index: 1;
    text-align: center;
    margin-top: 50px;
}

main ul li{
    position: relative;
    z-index: 1;
    font-size: 22px;
    margin: 30px 100px;
    padding: 7px 0;
    border: 1.88px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

main ul li:hover{
    background-color: #fff;
}
main a li:hover{
    color: #333;
    
}

main a{
    color: #fff;
}

@media (min-width: 610px){
    main ul li{
        margin: 30px 150px;
    }
}

@media (min-width: 800px) {

    main ul li {
        padding: 20px 0;
        margin: 40px 200px;
    }
}

@media (min-width: 1100px){
    main ul li{
        margin: 40px 350px;
    }
}
